/.DS_Store
/.ipynb_checkpoints
/.vscode
/.idea
/ILSVRC2012
/data
/models
/Downloads
*.zip
/papers read
/*.egg-info
/build
/__pycache__
/.empty
*.egg
*/__pycache__
*.pyc
GraphTransformerPyTorch/__pycache__/pytorch_U2GNN_UnSup.cpython-38.pyc
GraphTransformerPyTorch/__pycache__/pytorch_U2GNN_UnSup.cpython-38.pyc
